.card-body{
    display: contents;
    align-items: center;
}
.row{
    justify-content: center;
}
header{
    text-align: center;
    padding: 10px;
}
.col-lg-1 h1{
    font-size: 25px;
    margin: 20px;
}
#rick{
    width: 50px;
}